.container-fluid#page-main
  .row-fluid#banner
    .span4
      a#logo.pull-left(href="/#"): img(width=305, height=63, src="/images/logo.jpg" alt="Rejuvenation Logo" title="Rejuvenation: Classic American Lighting And House Parts")
        h1.img-replacement Rejuvenation: Classic American Lighting And House Parts
    .span8
      .row-fluid
        .span8#quick-navs
          ul#customer-nav(class="list-inline nav")
            li
              a(href="/#log-out") Sign Out
            li
              a(href="/#phone") 1.888.401.1900
            li
              a(href="/#chat") Live Chat
            li
              a(href="/#trade") For The Trade
            li
              a(href="/#wish-list") Wish List (1)
          ul(class="list-inline nav")
            li
              a(href="#about") About Us
            li
              a(href="#stores") Our Stores
            li
              a(href="#customer-service") Customer Service
        .span4      
          #cart
            i.icon-shopping-cart
            ul.list-inline
              li
                a#my-cart(href="/#cart-contents") my cart: 4 items
              li
                a#checkout(href="checkout") checkout
          form#search
            input(type="text", id="searchbox")
            button.btn(type="submit") Search
  .row-fluid
    .span12
      ul#main-nav(class="list-inline nav")
        li
          a(href="/#lighting") Lighting
        li
          a(href="/#hardware") Hardware &amp; House Parts
        li
          a(href="/#collections") Collections
        li
          a(href="/#rooms") Rooms
        li
          a(href="/#restored-antiques") Restored Antiques
        li
          a(href="/#whats-new") What's New
        li
          a(href="/#inspiration-advice") Inspirtation &amp; Advice
  .row-fluid#config
    .span4#photos
      div#main-img
        img(src="/images/pendant_light.jpg", width="99", height="312" alt="pendant light" title="Rose City Pendant Light")
      .row-fluid#gallery
        .span12
          h4 Photo Gallery
          - for (var i = 0; i < 3; i++)
            .row-fluid(class="row" + (i + 1))
              .span12
                -for (var j = 0; j < 5; j++)
                    span(class="img" + (j + 1)).gallery-img
    .span8#product-options
      h2#product-name Rose City
      ol#breadcrumbs(class="list-inline nav")
        li
          a(href="/#rose-city/start") starting point
        li
          a(href="/#rose-city/finish") finish
        li
          a(href="/#rose-city/shade") shade
        li
          a(href="/#rose-city/length") length
        li
          a(href="/#rose-city/socket") socket
        li
          a(href="/#rose-city/switch") switch
        li
          a(href="/#rose-city/ceiling-mount") ceiling mount
        li
          a(href="/#rose-city/review") review choices
      .row-fluid#options-grid
        .span8#options-visualize
          - for (var i = 0; i < 2; i++)
            .row-fluid(class="row" + (k + 1))
              .span12
                -for (var j = 0; j < 3; j++)
                  span(class="img" + (l + 1)).options-img
        .span4#purchase-help
