.container-fluid#page-main
  .row-fluid#banner
    .span4
      a#logo.pull-left(href="/#"): img(width=305, height=63, src="/images/logo.png" alt="Rejuvenation Logo" title="Rejuvenation: Classic American Lighting And House Parts")
        h1.img-replacement Rejuvenation: Classic American Lighting And House Parts
    .span8
      .row-fluid
        .span8#quick-navs
          ul#customer-nav(class="list-inline nav")
            li
              a(href="/#log-out") Sign Out
            li
              a(href="/#phone") 1.888.401.1900
            li
              a(href="/#chat") Live Chat
            li
              a(href="/#trade") For The Trade
            li
              a(href="/#wish-list") Wish List (1)
          ul(class="list-inline nav")
            li
              a(href="#about") About Us
            li
              a(href="#stores") Our Stores
            li
              a(href="#customer-service") Customer Service
        .span4      
          #cart
            i.icon-shopping-cart
            ul.list-inline
              li
                a#my-cart(href="/#cart-contents") my cart: 4 items
              li
                a#checkout(href="checkout") checkout
          form#search
            input(type="text", id="searchbox")
            button.btn(type="submit") Search
  .row-fluid
    .span12
      ul#main-nav(class="list-inline nav")
        li
          a(href="/#lighting") Lighting
        li
          a(href="/#hardware") Hardware &amp; House Parts
        li
          a(href="/#collections") Collections
        li
          a(href="/#rooms") Rooms
        li
          a(href="/#restored-antiques") Restored Antiques
        li
          a(href="/#whats-new") What's New
        li
          a(href="/#inspiration-advice") Inspirtation &amp; Advice
  .row-fluid#config
    .span4#photos
      div#main-img.square-photo
        img(src="/images/pendant_light.jpg", width="99", height="312" alt="pendant light" title="Rose City Pendant Light")
      .row-fluid#gallery
        .span12
          h3 Photo Gallery
          - for (var i = 0; i < 3; i++)
            .row-fluid(class="row" + (i + 1))
              .span12
                -for (var j = 0; j < 5; j++)
                    span(class="img" + (j + 1)).gallery-img.square-photo
    .span8#product-options
      h2#product-name Rose City
      div#options-container
        ol#breadcrumbs(class="breadcrumb")
          li.active
            a(href="/#rose-city/start") starting point
            span.divider 
              i.icon-chevron-right
          li
            a(href="/#rose-city/finish") finish
            span.divider 
              i.icon-chevron-right
          li
            a(href="/#rose-city/shade") shade
            span.divider 
              i.icon-chevron-right
          li
            a(href="/#rose-city/length") length
            span.divider 
              i.icon-chevron-right
          li
            a(href="/#rose-city/socket") socket
            span.divider 
              i.icon-chevron-right
          li
            a(href="/#rose-city/switch") switch
            span.divider 
              i.icon-chevron-right
          li
            a(href="/#rose-city/ceiling-mount") ceiling mount
            span.divider 
              i.icon-chevron-right
          li
            a(href="/#rose-city/review") review choices
        .row-fluid#options-grid
          h3 Choose A Starting Point
          .span10#options-visualize
            - for (var k = 0; k < 2; k++)
              .row-fluid(class="row" + (k + 1))
                .span12
                  ul.list-inline
                    //each val in ["string", "string", "string"]
                    -for (var l = 0; l < 3; l++)
                      li.option-container
                        span(class="img" + (l + 1)).options-img.square-photo
                        ul.unstyled
                          li Brushed Nickel
                          li Classic 14in. Schoolhouse
                          li Shade with Coffee
                        p From 
                          span.cost 207
          .span2#purchase-help
