//LESS stylesheet for test Rejuvenation page, compiles on node
//Josh Schneider
//9-10-2013

@import "bootstrap.less"; /*defaults commented*/

// Padding for fixed-navbar
/*body {
  padding-top: 60px;
  padding-bottom: 40px;
}*/
/*@import "responsive.less";*/ /*responsive removed*/
@iconSpritePath: "/images/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/bootstrap/glyphicons-halflings-white.png";

/*--- UTILITY ---*/
.img-replacement {
	text-indent: -9999px;
}

body {
	padding-top: 10px;
}

#page-main.container-fluid {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

/*--- BANNER ---*/

#banner {
	height: 100px;
	position: relative;
}

	#banner #quick-navs {
		text-align: center;
	}

#cart {
	background-color: #E5E5E5;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}
	#cart ul {
		margin-left: 0;
		display: inline;
	}
	/*--- Search ---*/
	#search {
		position: absolute;
		bottom: 0;
		right: 0;
	}
		#search input {
			margin-bottom: 0;
		}

/*--- FORMS ---*/
input[type="text"]>button {
	margin-left: 10px;
}

/*--- PHOTOS ---*/
.img-box {
	background-color: #CCC;
	border: 1px solid #BCBCBC;
	width: 316px;
	height: 312px;
	text-align: center;
	padding-top: 4px;
}
.gallery-img {
	background-color: #000;
	border: 1px solid #000;
	width: 18%;
	display: inline-block;
	margin-left: 1%;
	height: 57px;
}
	.gallery-img:first-child {
		margin-left: 0;
	}
